.app {
  text-align: center;
}
.itemDiv {
  height: 400px;
  width: 60%;
  background-color: rgb(235, 238, 253);
  display: flex;
  justify-content: space-evenly;
  
}

.itemLabels{
  font-weight: 500;
}
input{
  margin:10px;
  padding: 5px;
}



