.app {
  text-align: center;
}
.itemDiv {
  height: 200px;
  width: 60%;
  background-color: rgb(235, 238, 253);
  display: flex;
  justify-content: space-between;
  
}
.items{
  display: flex;
  flex-direction: column;

}
.itemLabels{
  font-weight: 500;
  padding: 10px;
}
input{
  margin:10px;
  padding: 5px;
}
.supplierData{
  
  height: 250px;
  width: 60%;
  background-color: rgb(235, 238, 253);
  display: flex;
  justify-content: space-between;
}